#container{
    /*width:1152px;*/
    margin:auto;
}
#graphholder{
    display:none;
}

#gridholder{
     width:100%;
     height:100%;
     margin:auto;
} 

#tabctrl{
    width:100%;
    border-bottom: 2px solid black;
    margin-bottom: 4px;
}

#tabctrl span{
    min-width: 30%;
    display: inline-block;
    border: 1px solid grey;
    border-bottom: none;
    text-align: center;
    background-color: lightgray;
    padding-bottom: 4px;
    cursor: pointer;
    color:grey;
}
#tabctrl span.active{
    border: 2px solid black;
    border-bottom:none;
    background-color:white;
    color:steelblue;
}

#credits .credittype{
    font-weight:bold;
}

#credits p{    
    display:inline;
    border-right:1px solid black;
    padding-right:2px;
}


/*-------------GRID STUFF-----------*/

.person{
    height: 100px;
    width: 100px;
    background-size: cover;
    display:inline-block;
    padding: 0;
    margin: 0;
}
.person .descr{
    display:none;
}
.person img{
    overflow: hidden;
    height:100%;
    width:100%;
    border:none;
    z-index:0;
}

.person:hover img {
    z-index:5;
    -moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
    border: 1px solid white;
}

.expanded{
    width: 100%;
    height: auto;
    display:block;
    clear:both;
    margin-bottom:10px;
    margin-top:10px;
}

.expanded img{
    overflow: hidden;
    height:auto;
    max-width:300px;
    border:none;
    z-index:0;
    vertical-align: top;
}
.expanded .descr{
    display:inline-block;
    width: 50%;
    padding:10px;
    position:relative;
    right:0;
}

.expanded #descr{
    display:inline;
}

/*--------- GRAPH STUFF-----*/
#loading{
            width:100%;
            height:100%;
        }
        svg{
            background:#eee;
        }
        #infobox{
            padding:10px;
            height:auto;
            position: absolute;
            top: 0;
            width:25%;
            background: white;
            display:none;
        }

        h3{
            color:steelblue;
            font-size:1.5em;
            font-weight:bold;
        }

        #infobox img{
            max-height:30%;
            float:left;
            padding: 10px;
        }

        #closebtn{
            float: right;
            padding-right: 5px;
            color: steelblue;
            cursor: pointer;
        }
        .link {
            stroke: #000;
            stroke-width: 1px;
            fill:none;
        }

        .node {
            cursor: move;
            fill: #ccc;
            stroke: #000;
            stroke-width: 1.5px;
        }
        .node.fixed {
                border: 1px solid red;
         }
        .linklabel{
            display:none;
        }
